:root {
    --bg-color: #f8f9fa;
    --txt-light-color: #f8f9fa;
    --bg-dark-color:#e0e0e0;
    --box-shad: 0px 4px 18px -12px rgb(0 0 0 / 75%);
    --color-red: #ec407a;
    --color-grey:#404044;
    --color-black: #212529;
    --color-green: #4caf50;
    --color-light-red: #ff77a9;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;

}

h2 {
    font-size: 20px;
    color: var(--color-black);
}

body {
    background-color: var(--bg-color);
}

/* NavBar */

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--color-red);
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: var(--color-red);
}

/* Section accueil */

#accueil {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./images/accueil.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#accueil p {
    color: var(--txt-light-color);
    font-size: 80px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.middle {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouse {
    width: 50px;
    height: 90px;
    border: 4px solid var(--bg-dark-color);
    border-radius: 60px;
}

.mouse::before {
    content: '';
    width: 12.5px;
    height: 12.5px;
    position: absolute;
    top: 15px;
    background-color: var(--bg-dark-color);   
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 2s infinite;
}

@keyframes mouse {
    from {
        opacity: 1;
        top: 15px;
    }
    to {
        opacity: 0;
        top: 60px;
    }
}

@media (max-width: 991px) {
    #accueil p {
        font-size: 50px;

    }
}


/* Section Présentation */

#presentation {
    padding: 80px 0;
}

#presentation p{
    color: var(--color-grey);
}

.preimage {
    justify-content: center;
    display: flex;
}

.devanture {
    height: 500px;
    object-fit: cover;
    object-position: top;
}

#presentation img {
    width: 100%;
    box-shadow: var(--box-shad)
}

.texte div {
    max-width: 500px;
}

.logo {
    height: 40px;
    width: auto;
}

@media (max-width: 991px) {
    .texte {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Section Menu */

#menu {
    background-color: var(--bg-dark-color);
    padding: 80px 0;
}

#menu h1 {
    text-align: center;
}

.nav-pills .nav-link.active {
    border-style: none;
    margin: 0 10px;
    box-shadow: var(--box-shad);
    padding: 24px 24px;
    color: var(--color-black);
    background-color: var(--color-red);
    font-size: 18px;
    font-weight: bold;
}

.nav-pills .nav-link {
    color: var(--color-grey);
    background-color: white;
    box-shadow: var(--box-shad);
    margin: 5px 10px;
    padding: 18px 26px;
    font-size: 16px;
    transition: 0.2s;
}

.nav-pills .nav-link:hover {
    background-color: var(--color-light-red);
}

.produits {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin: 30px;
    box-shadow: var(--box-shad);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
}


.produits:hover {
    background-color: var(--color-light-red);
    transform: scale(1.05);
}

.imgproduits {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-right: 15px;
}

.txtproduits {
    width: 100%;
}

.txtproduits span{
    font-weight: bold;
}


.txtproduits p{
    color: var(--color-grey);
    margin: 0;
}

.prix {
    float: right;
    width: 100px;
    font-size: 36px;
    color: var(--color-black);
}

.prix p{
    margin: 0;
}

@media (max-width:991px){
    .produits {
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }

    .txtproduits {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prix {
        text-align: center;
    }

    .imgproduits {
        margin: 5px 0;
    }
}

/* Section Galerie photos */

#galerie {
    padding: 80px 0;
}

.imgGalerie {
    width: 100%;
    height: 300px;
    box-shadow: var(--box-shad);
    object-fit: cover;
    object-position: center;
}

.txtgalerie {
    position: relative;
    z-index: 2;
    transition: 0.4s;
    cursor: pointer;

}

.hoverGalerie {
    opacity: 0;
    position: absolute;
    z-index: 1;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--color-black);
    font-weight: bold;
}

.txtgalerie:hover .hoverGalerie{
    opacity: 1;
}

.txtgalerie:hover img{
    opacity: 0.3;
}

.contentGalerie{
    transition: 0.4s;
    margin: 25px 0;
}

.contentGalerie p{
    font-size: 24px;
}

.contentGalerie:hover {
    transform: scale(1.05);
}

#galerie h1 {
    text-align: center;
}

.imgModal {
    width: 100%;
    height: auto;
    display: flex;
}

.btn-close {
    background-color: white;
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;
}

.modal-header {
    border: none;
}


.modal-content {
    background: none;
    border: none;
}

/* Section avis */

#avis {
    padding: 80px 0;
    background-color: var(--bg-dark-color);
}

#avis h1 {
    text-align: center;
}

.content-avis {
    display: flex;
    justify-content: center;
}

.body-avis {
    width: 310px;
    height: 180px;
}

/* Section coordonnées */

#coordonnes {
    padding: 80px 0;
    background-color: var(--bg-dark-color);
}

.txtcontact {
    min-height: 150px;
}

.txtcontact span{
    font-weight: bold;
    font-size: 14px;
}

.txtcontact svg{
    fill: var(--color-black);
    width: 28px;
    height: 28px;
}

.txtcontact svg:hover{
    fill: var(--color-red);
}

#coordonnes iframe {
    width: 100%;
    height: 400px;
}

@media (max-width: 991px) {
    .content-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#footer {
    background-color: var(--color-black);
    padding: 40px 0;
}

.google {
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.google a {
    text-decoration: none;
    color: var(--bg-color);
}

.google p {
    margin-bottom: 8px;
}

.google a:hover {
    color: var(--color-light-red);
}

.google img {
    border-radius: 8px;
    opacity: 0.8;
    width: auto;
    height: auto;
}

.google img:hover {
    opacity: 1;
}


.mentions {
    text-align: center;
}

.mentions button {
    text-decoration: none;
    color: var(--bg-dark-color);
    background:none;
    border: none;
    margin-bottom: 10px;
}

.mentions button:hover {
    color: var(--color-red);

}

.ml {
    color: var(--color-black);
}

.ml:hover {
    color: var(--color-red);
}

#footer span {
    font-weight: bold;
    font-size: 20px;
}